@{
    ViewData["Title"] = "Search";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<div class="container" style="min-height: 500px;">
    <div class="row">
        <div class="col-12 col-md-9 col-lg-7">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Book Your Trip</h4>
                    <form asp-action="Trips">
                        <div class="form-group">
                            <label class="control-label"> From</label>
                            <select name="fromId" class="form-control selectSearch" asp-items="ViewBag.Stations"></select>
                            <label class="control-label"> To</label>
                            <select name="toId" class="form-control selectSearch" asp-items="ViewBag.Stations"></select>
                            <span id="stationError" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Departure Date</label>
                            <input name="departureDate" type="date" class="form-control" required />
                            <span id="DeptDateError" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label"> Passengers</label>
                            <input name="passengers" type="number" class="form-control" required value="1" max="5" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Show Trips" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @*<script src="~/js/HomePage.js"></script>*@

    <script>
        $(document).ready(function () {
            $('.selectSearch').select2();
        });

        $("form").submit(function (e) {
            var isValid = true;

            if ($("[name=fromId]").val() == $("[name=toId]").val()) {
                $("#stationError").text("Drop-off station can't be the same as pick-up station");
                isValid = false;
            }
            else {

                $("#stationError").text("");
            }

            var d = new Date();
            d.setHours(0, 0, 0, 0);
            if (Date.parse($("[name=departureDate]").val()) < d) {
                $("#DeptDateError").text("Invalid Departure Date");
                isValid = false;
            } else {
                $("#DeptDateError").text("");
            }
            return isValid;
        });
    </script>
}
