@{
    ViewData["Title"] = "StatusError";
    string message = ViewBag.Message;
    int statusCode = ViewBag.StatusCode;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/ResponsiveStyle.css" rel="stylesheet" />

<div class="container" style="min-height: 500px;">
    <div class="row">
        <div class="col-12 center">
            <p style="font-size: 105pt;">@statusCode</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 center">
            <p style=" font-size: 35pt;">@message</p>
        </div>
    </div>
</div>
