.ByFoot {
    width: 100%;
    background-color: black;
    color: white;
}

.ByFootLogo{
    height: 120px;
}

.BySocial {
    height: 60px;
}

.ByRight {
    text-align: right;
}

.ByLeft {
    text-align: left;
}

.ByByFoot{
    font-size: 82px;
}

.ByLinks{
    color: white;
    font-size: 20px;
    padding: 15px;
}

.ByBorder{
    border: 10px solid black;
}