@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a asp-controller="Home" asp-action="Dashboard">
        @if (string.IsNullOrEmpty(UserManager.Users.FirstOrDefault(u => u.UserName == User.Identity.Name).ClientName))
        {
            <img src="~/img/user-icon.png" style="height: 20px;" /> @User.Identity.Name
        }
        else
        {
            <img src="~/img/user-icon.png" style="height: 20px;" /> @UserManager.Users.FirstOrDefault(u => u.UserName == User.Identity.Name).ClientName
        }
    </a>
}
else
{
    <a asp-area="Identity" asp-page="/Account/Login">
        <img src="~/img/user-icon.png" style="height: 20px;" /> Login
    </a>
}
