@model BusSystem.Models.Trip

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Trip</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="StartDateTime" class="control-label"></label>
                <input asp-for="StartDateTime" class="form-control" />
                <span asp-validation-for="StartDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RouteID" class="control-label"></label>
                <select asp-for="RouteID" class="form-control" asp-items="ViewBag.RouteID"></select>
                <span asp-validation-for="RouteID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BusID" class="control-label"></label>
                <select asp-for="BusID" class="form-control" asp-items="ViewBag.BusID"></select>
                <span asp-validation-for="BusID" class="text-danger"></span>
            </div>
            <div class="form-group">
                @if (ViewBag.Message != null)
                {
                    <span class="alert alert-warning"> @ViewBag.Message!</span>
                }
                else
                {
                    <input type="submit" value="Save" class="btn btn-success" />
                }
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
