@model IdentityRole

@{
    ViewBag.Title = "All Roles";
}

<h1>Dlete Role</h1>
<p style="font-size: 24px;">Are you sure you want to delete this role</p>
<p style="font-size: 16px;">*Note: all users' will lose thier pervliges linked to this role</p>

<div class="card mb-3">
    <div class="card-header">
        Role Id : @Model.Id
    </div>
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
    </div>
    <div class="card-footer">
        <a class="btn btn-danger" asp-action="ConfirmDeleteRole"
           asp-controller="Administration" asp-route-id="@Model.Id">
            Yes
        </a>
        <a class="btn btn-primary" asp-action="ListRoles"
           asp-controller="Administration">
            No
        </a>
    </div>
</div>
