<link rel="stylesheet" href="~/css/ByFonts.css" type="text/css">
<h1>About By Bus</h1>
<p class="Text">
    By Bus is an Egyptian shareholding company working in the field of public transport under the supervision of the Ministry of Transport since 1998.
</p>
<p class="Text">
    It is the first private sector company operating in the area of public transportation.
</p>
<p class="Text">
    By Bus provides technical solutions by using information and communication technology to improve passenger transportation services and works on developing its benefits for the public to simplify their lives.
</p>
<hr />
<img src="~/img/About/Buses.jpg" class="Image"/>
<br />
<p class="TextMid">
    Our Vision
</p>
<p class="TextSamll">
    Our vision is to provide an outstanding service that exceeds the needs and expectations of our customers to become the easiest and safest solution. We always strive to become a leading company in the field of private transport services by providing comfort and luxury to all users of Go Bus services.
</p>
<br />
<p class="TextMid">
    Our Mission
</p>
<p class="TextSamll">
    Our mission is to provide convenient and safe transportation services that our customers can rely on as a suitable alternative to vehicles. Therefore, we follow our passengers’ needs to enhance our services. Our principle in Go Bus is the comfort and luxury of travelers.
</p>
<hr />
<br />
<h1>
    By Bus Values
</h1>
<table>
    <tr class="trDim">
        <td class="tdImg">
            <img src="~/img/About/by-about-stations.jpg" />
        </td>
        <td class="tdText">
            <p class="TextMid">
                By Bus Branches
            </p>
            <p class="TextSamll">
                Our 40 branches across Egypt serve a significant number of passengers to reach their destinations. Because we are the first private company working in the field of transporting passengers by all means for more than 20 years. We always strive to be at the forefront in terms of quality of bus service and customer comfort.
            </p>
        </td>
    </tr>
    <tr class="trDim">
        <td class="tdImg">
            <img src="~/img/About/by-about-payment.jpg" />
        </td>
        <td class="tdText">
            <p class="TextMid">
                Booking Methods
            </p>
            <p class="TextSamll">
                Our customers can choose a suitable payment method from our website or mobile app. Whether they prefer to pay online with their credit cards, or cash through Fawry, Aman, Masary and Bee machines.
            </p>
            <p class="TextSamll">
                Moreover, our customers can book Go Bus tickets from our stations.
            </p>
        </td>
    </tr>
    <tr class="trDim">
        <td class="tdImg">
            <img src="~/img/About/by-about-routes.jpg" />
        </td>
        <td class="tdText">
            <p class="TextMid">
                By Bus Routes
            </p>
            <p class="TextSamll">
                We operate in 26 routes across Egypt, moving passengers to the nation most populated cities. Our top destinations from Cairo is Hurghada, Sharm El Sheikh, Alexandria,  El Gouna, Marsa Matrouh, Al Sokhana, Dahab, Marsa Alam, and many more.
            </p>
        </td>
    </tr>
    <tr class="trDim">
        <td class="tdImg">
            <img src="~/img/About/by-about-customer.png" />
        </td>
        <td class="tdText">
            <p class="TextMid">
                Customer Service
            </p>
            <p class="TextSamll">
                By Bus customer service also is available 24 hours a day so that our customer can get the best service possible.
            </p>
        </td>
    </tr>
    <tr class="trDim">
        <td class="tdImg">
            <img src="~/img/About/by-about-luxury.jpg" />
        </td>
        <td class="tdText">
            <p class="TextMid">
                Luxury & Safety
            </p>
            <p class="TextSamll">
                We care about safety and luxury along with unique service. We equipped our buses with Wi-Fi throughout the road. All Go Bus buses are air-conditioned and equipped with comfortable seats.
            </p>
            <p class="TextSamll">
                Our Aero Bus class launched under the slogan “The luxury of airplane on the ground” has comfortable and spacious seats that move freely with a blanket and pillow to ensure relaxation and restful sleep.
            </p>
            <p class="TextSamll">
                Our Business class has face-to-face seats to provide a great conversation atmosphere for our customers. We offer hot drinks and a fresh meal during the trip so that our customer gets the best luxury services.
            </p>
            <p class="TextSamll">
                Our Elite Plus and Elite Plus Plus classes have a touch screen for each seat with tons of movies, games, and music. You can also charge your mobile phone in your seat.
            </p>
        </td>
    </tr>
</table>