@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    ITI Building<br />
    Smart Village, Giza.<br />
    <abbr title="Phone">P:</abbr>
    0114 344 4786
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@ByBus.com">Support@ByBus.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@ByBus.com">Marketing@ByBus.com</a>
</address>