@model BusSystem.Models.Route

@{
    ViewData["Title"] = "Edit Route";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<div class="container" style="min-height: 500px;">
    <div class="row">
        <div class="col-12">
            <h1>Edit Route</h1>
        </div>
    </div>
    <div class="row">
        <form asp-action="Edit">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="ID" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 col-sm-2">
                                <label asp-for="Duration" class="control-label"></label>
                            </div>
                            <div class="col-12 col-sm-6">
                                <input asp-for="Duration" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <span asp-validation-for="Duration" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 col-sm-2">
                                <label asp-for="PickUpID" class="control-label"></label>
                            </div>
                            <div class="col-12 col-sm-6">
                                <select asp-for="PickUpID" class="form-control" asp-items="ViewBag.PickUpID"></select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <span asp-validation-for="PickUpID" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 col-sm-2">
                                <label asp-for="DropOffID" class="control-label"></label>
                            </div>
                            <div class="col-12 col-sm-6">
                                <select asp-for="DropOffID" class="form-control" asp-items="ViewBag.DropOffID"></select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <span asp-validation-for="DropOffID" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-12">
                        <input type="submit" value="Save" class="btn btn-success" />
                        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
